.App {
  text-align: center;
  background-color: red;
  height: 100%;
  max-width: 100%;
}
.Header{
  color: white;
  font-size: 30px;
  background-color: black;
  height: 10vh;
  max-width: 100%;
}

.Question{
  background-color: white;
  height: 25vh;
  max-width: 100%;
}

.Selection{
  color:white;
  background-color: black;
  height: 25vh;
  max-width: 100%;
}

.Answer{
  background-color: white;
  height: 25vh;
  max-width: 100%;
}
